:root {
  /* primary */
  --primary-black-cl: #434455;
  --primary-black-bg: #434455;
  --primary-white-cl: #ffffff;
  --primary-white-bg: #ffffff;
  --primary-accent-cl: #4d5ae5;
  --primary-accent-bg: #4d5ae5;
  /* secondary */
  --secondary-black-cl: #2e2f42;
  --secondary-black-bg: #2e2f42;
  --secondary-white-cl: #f4f4fd;
  --secondary-white-bg: #f4f4fd;
  --secondary-accent-cl: #404bbf;
  --secondary-accent-bg: #404bbf;
}

* {
  box-sizing: border-box;
}
/**
  |============================
  | common styles
  |============================
*/
body {
  background-color: var(--primary-white-bg);
  color: var(--primary-black-cl);
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.list,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link,
a {
  text-decoration: none;
  color: currentColor;
}
.btn,
button {
  font-family: inherit;
  cursor: pointer;
}
/**
  |============================
  | base styles
  |============================
*/
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo {
  color: var(--primary-accent-cl);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link {
  margin-right: 76px;
}
.logo-black {
  color: var(--secondary-black-cl);
}

.logo-white {
  color: var(--secondary-white-cl);
}
/* site-nav */

.site-nav a {
  color: var(--secondary-black-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.site-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}
.link-current {
  padding: 24px 0;
}

.link-current:hover,
.link-current:focus,
.address-nav-link:hover,
.address-nav-link:focus {
  color: var(--secondary-accent-cl);
}

.address {
  font-style: normal;
}
.address-nav a {
  color: var(--primary-black-cl);
}
.address-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-nav-link {
  line-height: 1.5;
}
/* hero */

.hero {
  max-width: 1440px;
  background-color: var(--secondary-black-bg);
  background-image: url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero.jpg);
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-white-cl);
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  background-color: var(--primary-accent-bg);
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-white-cl);
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
}

.portfolio-button {
  background-color: var(--secondary-white-bg);
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-accent-cl);
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-accent-bg);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--secondary-accent-bg);
  color: var(--primary-white-cl);
  border: 1px solid transparent;
}

/* our advantage */

.adv-section {
  padding: 120px 0;
}

.adv-list {
  display: flex;
  gap: 24px;
}
.adv-item {
  width: 264px;
}
.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-black-cl);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.li-text {
  line-height: 1.5;
  color: var(--primary-black-cl);
}

/* our activity */

.activity {
  padding-bottom: 120px;
}
.vice-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--secondary-black-cl);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.activity-list {
  display: flex;
  gap: 24px;
}
.activity-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* our team  */
.team {
  background-color: var(--secondary-white-bg);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-li {
  background-color: var(--primary-white-bg);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  padding: 32px 16px;
}

/* footer */
.footer {
  background-color: var(--secondary-black-bg);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  color: var(--secondary-white-cl);
  line-height: 1.5;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

/* style to portfolio */

.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-basis: calc((100%-96) / 5);
  margin-bottom: 72px;
}

.portf-list {
  text-decoration: none;
}

.portfolio-bloks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-bloks-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-bloks-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
